.footer1{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    width: 100%;
    background-color: #3b3b3b;
}

.a{
    color: aliceblue;
    text-decoration: none;
}